/* /public/css/styles.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#host-dashboard {
  display: flex;
  max-width: 1200px;
  height: 80vh;
  margin: 30px auto;
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#inbox {
  flex: 1;
  /* padding: 20px; */
  border-right: 1px solid #bfbfbf;
  background: #f9f9f9;
}

#inbox-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  background: #724ae8;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
}

#chat-list {
  padding: 15px 20px;

  overflow-y: auto;
  max-height: 75%;
}

#chat-list div {
  padding: 20px 10px;
  cursor: pointer;
  border-bottom: 1px solid #b4b4b4;
}
#chat-list div span {
  font-weight: 600;
}

#chat-list div:hover {
  background-color: #f9f9f9;
}

#selected-chat {
  flex: 2;
  position: relative;
  padding: 20px;
}

#chat-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

#chat-messages {
  overflow-y: auto;
  /* max-height: 300px; */
  height: 75%;
  border: 1px solid #b4b4b4;
  padding: 10px;
  margin-bottom: 10px;
  overflow-y: auto;
}
#chat-messages > div {
  background: #724ae8;
  color: #fff;
  padding: 12px 16px;
  margin: 10px 0px;
  width: 65%;
  border-radius: 10px 10px 0px 10px;
}
#chat-messages > .msgRight {
  margin-left: 210px;
}
#chat-messages > .msgLeft {
  background: #bfbfbf;
  color: #000;
  border-radius: 10px 10px 10px 0px;
}
#reply-input {
  width: 80%;
  bottom: 20px;
  padding: 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#reply-input:focus {
  outline: 1px solid #724ae8;
}
button {
  padding: 15px 20px;
  background-color: #724ae8;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
